<!-- 반응형 수평광고 -->
{% if site.comments.gitalk.clientID and site.comments.gitalk.clientSecret %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{site.user_adsense_client}}"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="{{site.user_adsense_client}}"
    data-ad-slot="9822854828"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}